tensor
torch
diffusers
transformers
opencv-python-headless>=4.7.0
torchvision
accelerate
huggingface-hub
safetensors
qwen-vl-utils
rouge_score
nltk
matplotlib
numpy
pandas
kagglehub
IPython
bitsandbytes
sentence_transformers
sentencepiece